.page {
  position: absolute;
}

.wrapper {
  margin-top: 20px;
  .text {
    height: 130px;
    font-size: 30px;
    color: @primary-color;
    // border: 1px solid #000;
  }
}

.pic {
  width: 600px;
  height: 400px;
}
