.login-warp {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-container {
    background: @white-color;
    height: 540px;
    width: 1000px;
    display: flex;
    .login-left {
      // border: 1px solid #9b3d3d;
      width: 48%;
      height: 100%;
      background-image: url('~@/assets/images/login-bg.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    .login-right {
      // border: 1px solid #000;
      width: 52%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-row {
      margin-bottom: 40px;
    }
  }
}
