#huabu {
  font-weight: 600;
  font-size: 30px;
  color: @primary-color;
  letter-spacing: 0;
  margin-left: 10px;
  margin-right: 50px;
}

.top {
  label {
    font-weight: 600;
    font-size: 20px;
    color: @primary-color;
    letter-spacing: 0;
    // margin-bottom: 10px;
  }
}

.left {
  border: 2px solid @primary-color;
}

.right {
  span {
    font-weight: 600;
    font-size: 20px;
    color: @primary-color;
    letter-spacing: 0;
    margin-bottom: 5px;
  }
}

.text {
  font-size: 20px;
}
