.register-warp {
  width: 100%;
  height: 100%;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .register-container {
    background: @white-color;
    height: 540px;
    width: 1000px;
    display: flex;
    .register-left {
      width: 48%;
      height: 100%;
      background-image: url('~@/assets/images/login-bg.svg');
      background-repeat: no-repeat;
      background-position: center;
    }
    .register-right {
      width: 52%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .ant-row {
      margin-bottom: 20px;
    }
  }
}
